<h1>Listing todos</h1>
<br />

<div style="left-float: 20px; align: center;">
<table class="table table-bordered table-hover table-striped">
  <thead>
  <tr>
    <th>Event</th>
    <th>Status</th>
    <th>Detail</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
  </thead>
  <tbody>
<% @todos.each do |todo| %>
  <tr>
    <td><%= todo.event %></td>
    <td><%= todo.status %></td>
    <td><%= todo.detail %></td>
    <td><%= link_to 'Show', todo %></td>
    <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
    <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>
</div>

<br />

<%= link_to 'New Todo', new_todo_path %>
