<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @todo.event %>
</p>

<p>
  <b>Status:</b>
  <%= @todo.status %>
</p>

<p>
  <b>Detail:</b>
  <%= @todo.detail %>
</p>


<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
